@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap");
@font-face {
  font-family: saol;
  src: url(/SaolDisplay-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #adadad;
  background-color: #0c0c0c;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 3px;
  transform-style: preserve-3d;
}
